html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.resumo {
    background-color: silver;
    color: white;
    font-size: 0.8em;
    padding-top: 2.3em;
}

.resumo h3{
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.2em;
}

.resumo a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: white;
}

/* 
.resumo ul, li{
    padding-left: 0;
} */

.resumo ul, li {
    list-style-type: none;
    padding-left: 0;
}

.resumo li{
    font-size: 0.8em;
    margin-bottom: -0.1em;
}

.detalhado h1{
    font-size: 1.5em;
}

.detalhado h2{
    font-size: 1.2em;
}

.detalhado h3{
    font-size: 1em;
}

.detalhado li{
    list-style-type: square;
}
